.app-menu {
    background: #192440;
    opacity: 0.7;
    padding: 0;
    height: 100vh;
}
.app-menu ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.app-menu li{
    border-bottom: 1px solid #9CFFFC;
    margin: auto;
    padding: 15px 2px;
    color: #9CFFFC;
    font-size: 18px;
    font-family: 'Myriad Pro', sans-serif;
    
}
.app-menu li:hover {
    color: white;
    background: #192440;
}
.brand {

}
.logo {
    width: 80%;
    height:100px;
}
