.app-menu {
    background: #192440;
    opacity: 0.7;
    padding: 0;
    height: 100vh;
}
.app-menu ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.app-menu li{
    border-top: 1px solid #9CFFFC;
    margin: auto;
    padding: 0.8rem;
    color: #9CFFFC;
    font-size: 21px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 500;
}
.app-menu li:hover {
    color: white;
    background: #192440;
}
.brand {

}
.logo {
    width: 100%;
}
