.silhouette-city-view {
    width: 100%;
    padding-top: 2rem;
}
.navbar {
    border-bottom: 1px solid #192440;
    padding: 0;
}
.btn-log {
    margin-top: 115px;
    margin-left: 20px;
    width: 100%;
    background: #192440;
    border-radius: 21px;
    color: #9CFFFC;
    font-size: 21px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 500;
}
