.App {
  text-align: center;
  padding: 0;
  margin: 0;
}
body {
  max-height: 100vh;
}

.search-wrapper {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 250px;
}
.search-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}
.search-wrapper li{
  background-color: #fff;
  display: inline-block;
  margin: 5px;
  width: 90px;
  height: 90px;
  padding-top: 30px;
  float: left;
}
.search-wrapper li:hover{
  background-color: #ccc;
}